<div class="container">
  <div class="first-container">
    <div class="welcome-container">
      <h1>Welcome to Logdy</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting <br />
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        <br />
        since the 1500s, when an unknown printer took a galley of type and
        <br />
        scrambled it to make a type
      </p>
    </div>
  </div>
  <div class="second-container">
    <h4>Logdy</h4>
    <h2>Create An Account</h2>
    <div class="item-form">
      <input matInput type="text" name="name" placeholder="Full Name" />
      <mat-icon matSuffix>person_outline</mat-icon>
    </div>
    <div class="item-form">
      <input matInput type="text" name="email" placeholder="Email Adress" />
      <mat-icon matSuffix>email_outline</mat-icon>
    </div>
    <div class="item-form">
      <input matInput type="text" name="password" placeholder="Password" />
      <mat-icon matSuffix>lock_outline</mat-icon>
    </div>
    <div class="checkbox">
      <mat-checkbox></mat-checkbox>
      <span>I agree to the terms of service</span>
    </div>
    <button class="register">Register</button>
    <div class="container-line">
      <div class="line"></div>
      <div class="text">Or Login With</div>
      <div class="line"></div>
    </div>
    <div class="social-media">
      <button class="facebook">Facebook</button>
      <button class="twitter">Twitter</button>
      <button class="google">Google</button>
    </div>
    <div class="bottom-login">
      <p class="bottom-text">Already a member?</p>
      <a
        href="https://storage.googleapis.com/theme-vessel-items/checking-sites/logdy-html/HTML/main/register-17.html"
        >Register here</a
      >
    </div>
  </div>
</div>
