.container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.first-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.second-container {
  background: #fff;
  display: flex;
  border: 2px solid green;
  flex-direction: column;
  width: 50%;
  border: solid 10px #000;
  border-radius: 100% 0 0 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
}

p {
  color: #e6e6e6;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.item-form {
  padding: 15px 20px;
  height: 25px;
  border: 2px solid red;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  border: 1px solid transparent;
  display: flex;
  margin-bottom: 25px;
  width: 50%;
}

h4 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  color: #121212;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

input {
  outline: none;
  border: none;
  font-size: 16px;

  display: flex;
  width: 100%;
}

.checkbox {
  display: flex;
  margin-bottom: 25px;
  width: 55.5%;
  gap: 5px;
}

.register {
  margin-bottom: 25px;
  background: #ff574d;
  border-radius: 3px;
  font-weight: 300;
  height: 50px;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 55.5%;
}

.container-line {
  display: flex;
  margin-bottom: 25px;
  font-size: 16px;
  width: 55.5%;
}

.line {
  flex-grow: 1;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
}

.text {
  padding: 0 10px;
}

.social-media {
  display: flex;
  gap: 5px;
  margin-bottom: 25px;
}
.facebook,
.twitter,
.google {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.facebook {
  background: #4867aa;
}

.twitter {
  background: #33ccff;
}

.google {
  background: #db4437;
}

.bottom-login {
  display: flex;
  font-size: 16px;
}

.bottom-text {
  color: #424242;
  padding-right: 3px;
}

a {
  text-decoration: none;
  color: #424242;
  padding-top: 4px;
  display: flex;
}
